---
import { getCollection, type CollectionEntry } from "astro:content"
import CategoryList from "../../components/CategoryList.astro"
import H1 from "../../components/H1.astro"
import Main from "../../components/Main.astro"
import Pagination from "../../components/Pagination.astro"
import PostList from "../../components/PostList.astro"
import Layout from "../../layouts/Layout.astro"
export const getStaticPaths = async () => {
  const posts = await getCollection("posts")

  const allCategories = posts.flatMap((post) => post.data.categories)
  const categories = Array.from(new Set(allCategories))

  const paths = categories.map((category) => {
    const postsByCatgegory = posts.filter((post) =>
      post.data.categories.includes(category)
    )
    return {
      params: {
        slug: category,
      },
      props: {
        category,
        posts: postsByCatgegory,
      },
    }
  })

  return paths
}

type Props = {
  category: string
  posts: CollectionEntry<"posts">[]
}

const { category, posts } = Astro.props
---

<Layout
  title="Blog - Rhythm Nation"
  description="Read and and learn from Music Producers and Enthusiasts"
>
  <Main>
    <a href="/blog" class="text-zinc-500 text-2xl mb-16 underline block"
      >← Back to all blogs</a
    >
    <H1 text="Rhythm Nation Blog" />
    <p class="text-zinc-900 text-2xl mb-24 max-sm:mb-14">
      Join the community and learn from Music Producers and Enthusiasts
    </p>
    <CategoryList categories={[category]} title="Posts tagged" />
    <div class="mb-12">
      <Pagination nextURL="/blog/2" />
    </div>
    <PostList posts={posts} />
    <div class="mb-36">
      <Pagination nextURL="/blog/2" />
    </div>
  </Main>
</Layout>
